*{
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family:'Quicksand', 'Roboto', sans-serif;
    background-color: #f8eefb;
}


header h1{ 
    font-size: 50px ;
    font-weight: bold;
    margin-bottom: 4px;
}
header nav{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
}
header a:hover{
    font-weight: bold;
}
.indicador h2{ 
    font-size: 30px;
    color: black ;
    display: flex;
    text-align: center;
    justify-content: center;

}
p{ font-size: 24px; color: #120021;}

#rango{
    color: black;
    font-size: 35px;
    color: black ;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 24px; 
}


.encabezado{
    max-width: 100%;
    margin: auto;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .encabezado{
    background-color: blueviolet;
    color: white;
}
#enlace_formulario a{
    color: white;
    text-decoration: none;
}
.ocultar_P3{
    display: none;
}

/* Indicador */
.indice_uv{
    position: relative;
    width: 240px;
    height: 240px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#sensor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: bold;
    color: white;
}
.circulo{
    width: 100%;
    height: 100%;
    background-color: #c2c2c2cc;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation: pulse 2s infinite;
    
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}



/* Informacion */

.separador{
    height: 20px;
    background-color: #8237c3;
    margin: 50px auto;
    width: 95%;
    border-radius: 5px;
}
.titulo_info{
    font-size: 35px;
}
.subtitu_info{
    font-size: 28px;

}
#sobre_uva {
    font-size: 24px;
    margin: auto;
    padding: 0 40px; 
    max-width: 1400px; 
}
#sobre_uva p{
    text-align: justify;
}
#peligros{
    font-size: 24px;
    max-width: 1400px;
    margin: auto;
    padding: 0 40px;
}
#peligros ul, #recomendaciones ul, #formulario ul{
    list-style-type: none;
    padding-left: 5px;
}

#peligros ul li, #recomendaciones ul li, #formulario ul li  {
    position: relative; 
    padding-left: 25px;
}

#peligros ul li::before, #recomendaciones ul li::before, #formulario ul li:before {
    content: "☀";
    position: absolute;
    left: -5px;
    top: -5px;
    font-size: 1.2em;

}
#peligros p, #peligros ul{
    text-align: justify;
}

#img_cancer, #img_riesgo, #img_recomendaciones, #img_uva{
    margin: auto;
    max-width: 320px;
    width: 85vw; 
}
#img_cancer img, #img_riesgo img, #img_recomendaciones img {
    box-shadow:  0px 0px 13px 1px #1d013660;
    max-width: 320px;
    width: 85vw;
    height: 320px;
}
#img_uva img{
    max-width: 320px;
    width: 85vw;
    height: 240px;
}
#img_cancer figcaption, #img_riesgo figcaption, #img_recomendaciones figcaption, #img_uva figcaption{
    color: #aaaaaa;
    font-size: 18px;
}
#recomendaciones li, #peligros li{
    margin-bottom: 8px;
}



#recomendaciones{
    font-size: 24px;
    max-width: 1400px;
    margin: auto;
    padding: 0 40px;

}

#recomendaciones ul{
    text-align: justify;
}
.fuente{
    margin: 45px 0;
}

.fuente a {
    text-decoration: none;
    color: #550899;  
}
.fuente a:hover{
    font-weight: bold;
}
#video{
    background-color: #740596da;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    margin: auto;
    padding: 10px 20px;
}
#video p{
    color: white;
}
#video iframe{
    margin: 1.7svw;
    margin-bottom: 15px;
    width: 94%;

}


/* Formulario */
#t_formulario{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #550899;
    font-size: 40px;
    color: white;
    height: 155px;
    padding: 0 30px;
}
#descripcion_form{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;
    font-weight: bold;
    text-align: justify;
}
#factores_riesgo{
    background-color: #ffffff;
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding-top: 10px;
    border: #630578be, 8px, solid;
    border-radius: 20px;
    font-size: 22px ;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#pregunta1 img{
    display: block;
    height: auto;
    margin: auto;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
} 
#formulario ul{padding-left: 0;}
#formulario li{
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 20px;
    text-align: justify; 
    padding-top: 30px;
}
#formulario ul li::before {
    top: 25px;
}


select{
    max-width: 1700px;
    min-width: 200px;
    width: 20vw;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 18px;
    padding: 9px;
    border: 1.5px solid #4720a8;
    border-radius: 10px;
    background-color: #fbf7ff;
    cursor: pointer;
    color: #2f0553f8;
    
}
option{
    padding: 10px;
}

div[id^="pregunta"] {
    position: relative;
    margin-top: 18px;
    padding-top: 15px;
    margin-bottom: 30px;
}
div[id^="pregunta"]::before {
    content:"";
    position: absolute;
    display: block;
    margin: 10px, auto;
    top: -25px;
    left: 5%;
    padding-top: 30px;
    width: 90%;
    height: 15px; 
    background: linear-gradient(40deg, #f86f4c, #ecf53e);
    border-radius: 10px;
}
button{
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 20px;
    border: 1px, solid, #550899;
    border-radius: 10px;
    box-shadow: 2px 2px #0000004e;
    background-color: #550899;
    cursor: pointer;

}
button:hover{
    background-color: #8237c3;
}
#resultado {
    position: relative;
    background-color: #ffffffe6;    
    margin: auto;
    width: 300px;
    height: 100px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-align: center; 
    font-size: 26px;
    margin-top: 50px;
    box-shadow: 0 0 30px 3px #1d013660;
    border-radius: 30px;
}

.exclamacion {
    display: flex;
    font-weight: bold;
    color: transparent; 
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    margin-top: 0 ;
}
#rango_riesgo{
    margin: 0 ;
    padding: 0;
    font-size: 28px;
    font-weight: bold;
    width: 150px;
    color: #31005a #fff836f6;
}
#t_resultado{
    width: 150px;
}
#exposicion_recomendada{
    margin: 0 auto;
    align-items: center; 
    text-align: center; 
    font-size: 22px;
    margin-top: 30px;
}
#tiempo_exposicion{
    margin: auto ;
    padding: 0;
    font-size: 28px;
    font-weight: bold;
    color: #31005a;
    text-align: center;
    margin-bottom: 50px;
    background-color: #ffffffe6;
    border-radius: 30px;
    width: 300px;
}


/* Pie de pagina */

#pie{
    background-color: #31005a;
    font-size: 10px;
    height: 210px;
    margin-top: 50px;
    color: white;

}
#autores{
    height: 150px;
    width: 80vw !important;
    margin-left: 40px;

}
#autores ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 0;
    margin-top: 10px;
    color: #fff;

}
#autores li{
    width: 100px !important;
    margin-bottom: 5px;
}
#autores p{
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding-top: 15px;
    padding-left: 0;    
    color: #fff;
}
#contacto{
    width: 80%;
}
#contacto p{
    font-size: 15px;
    margin: 0;   
    color: #fff;    
    margin: 15px 0px 15px 40px;
}


/* Version escritorio */

/* Encabezado */
@media (min-width: 750px){
header .encabezado{
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    
}
.encabezado h1{
    margin: 0 60px;
    align-items: center;
}
header nav{
    flex-direction: row;
    margin: 0 60px;
    align-items: center;
}

#sobre_uva, #peligros, #recomendaciones {
    max-width: 1200px;
}

.columnas_info{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.titulo_info{
    max-width: 800px;
}
#img_cancer, #img_riesgo, #img_recomendaciones{
    align-self: center;
    justify-content: center;
    margin: 0;
    margin-left: 35px;
    max-width: 370px;
}
#img_uva{
    align-self: center;
    justify-content: center;
    margin: 0;
    margin-right: 35px;
    max-width: 370px;
}
#img_cancer img, #img_riesgo img, #img_recomendaciones img, #img_uva img{
    max-width: 370px; 
    height: 370px;  
}
#img_uva img{
    max-width: 400px;
    height: 320px;
}

#colum2_uva, #colum1_peligros, #colum1_riesgo, #colum1_recomendaciones{
    max-width: 600px;
    align-self: center;
    justify-content: center;
}
#video iframe{
    margin: 10px 20px;
}

/* Formulario */

#descripcion_form{
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 30px;
}
#t_formulario{
    height: 70px;
    padding: 0 40px;
}
#factores_riesgo li{
    margin: 0 60px;
}


/* Pie de pagina */
#pie{
    display: flex;
    align-items: flex-start; 
    justify-content:space-between ; 
    height: 150px;
}
#autores ul{
    width: 450px;
}
#contacto{
    margin-top: 30px;
    width: 500px;
}


}

