<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detector UV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="encabezado">
        <h1>UVA !</h1>
        <nav id="enlace_formulario"><a href="#t_formulario">Tu riesgo por UV</a></nav>
    </div>
</header>
<section>
    <div class="indicador">
        <h2>Indice UV</h2>
        <div class="indice_uv">
            <div class="circulo"></div>
            <p><span id="sensor">...</span></p>
        </div>
        <p><span id="rango"> </span></p>
        <script src="{{ url_for('static', filename='Cambia_color.js') }}"></script>
    </div>
</section>
<section>
    <div class="separador"></div>
    <div id="sobre_uva">
        <h3 class="titulo_info">Conoce a UVA</h3>
        <div class="columnas_info">
            <figure id="img_uva">
                <img src="{{ url_for('static', filename='UVA!.jpg') }}" alt="Sensor UV" width="370" height="260">
            </figure>
            <div id="colum2_uva">
                <p>El perezoso, denominado <strong>U</strong>ltra<strong>v</strong>iolet <strong>A</strong>larm...</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="separador"></div>
    <div id="peligros">
        <h3 class="titulo_info">Peligros de la sobrexposición de radiación ultravioleta</h3>
        <ul>
            <li>Quemaduras solares</li>
            <li>Envejecimiento prematuro</li>
            <li>Reacciones fototóxicas</li>
        </ul>
    </div>
</section>
<section>
    <div id="recomendaciones">
        <h3 class="titulo_info">Recomendaciones</h3>
        <ul>
            <li>Evitar exposición entre 10:00 a.m. y 4:00 p.m.</li>
            <li>Usar protector solar de 30 FPS o más</li>
        </ul>
        <iframe width="560" height="250" src="https://www.youtube.com/embed/jpOPq1chQgU" allowfullscreen></iframe>
    </div>
</section>
<section>
    <div id="formulario">
        <h3 id="t_formulario">Tu riesgo por UV</h3>
        <form id="factores_riesgo">
            <select id="tipo_piel" name="tipo_piel">
                <option selected>Seleccione una opción</option>
                <option value="3">I</option>
                <option value="2">II</option>
                <option value="1">III</option>
                <option value="0">IV</option>
            </select>
            <button type="submit">Enviar</button>
        </form>
        <div id="resultado">
            <p id="t_resultado"><span id="rango_riesgo">-</span></p>
        </div>
    </div>
</section>
<footer>
    <div id="pie">
        <ul>
            <li>Daniel Urrea</li>
            <li>Isaac Farah</li>
        </ul>
        <p>Contacto: 322 xxxxxxx</p>
    </div>
</footer>
<script>
    function updateData() {
        fetch("http://127.0.0.1:5000/")
            .then(response => response.text())
            .then(data => {
                document.getElementById("sensor").innerText = data;
            })
            .catch(error => console.error("Error:", error));
    }
    setInterval(updateData, 5000);
</script>
</body>
</html>
