<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitor UV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>
<body>
    <header>
        <div class="encabezado">
            <h1>UVA !</h1>
            <p><a id="en_formulario" href="#t_formulario">Tu riesgo por UV</a></p>
        </div>
    </header>
    
    <br>
    <section>
        <div class="indicador">
            <h2>
                Indice UV
            </h2>
            <div class="indice_uv">
                <div class="circulo"></div>
                <p><span id="sensor">{{ indice_uv }}</span></p>
            </div>
            <p><span id="rango"> </span></p>
            <script src="{{ url_for('static', filename='Cambia_color.js') }}"></script>
        </div>  
    </section>
    <section>
        <div class="recomendaciones"></div>
    </section>

    <section>
        <div id="formulario">
            <h3 id="t_formulario">Tu riesgo por radiación ultravioleta</h3>
            <p id="descripcion_form">
               Selecciona en cada campo del siguiente formulario las opciones que consideres que pueden influir 
               en el riesgo de afecciones en la piel debido a la exposición a la radiación ultravioleta (UV) durante el día.
            </p>
            <form id="factores_riesgo">
                <ul>
                    <div id="pregunta1">
                        <div class="franja"></div>
                        <li><label for="tipo_piel">Elige el tipo de piel similar al tuyo según el número indicado:</label></li>
                        <img src="{{ url_for('static', filename='Tipos_de_piel.jpg') }}" alt="Tipos de piel" width="450" height="150"> 
                        <br>
                        <select id="tipo_piel" name="tipo_piel">
                            <option selected>Seleccione una opción</option>
                            <option value="3">I</option>
                            <option value="2">II</option>
                            <option value="1">III</option>
                            <option value="0">IV</option>
                            <option value="0">V</option>
                        </select>
                    </div>
                    <div id="pregunta2">
                        <li><label for="ante_propio">¿Usted ha tenido antecedentes de padecer algún tipo de cáncer de piel?</label></li>
                        <select name="ante_propio" id="ante_propio">
                            <option selected>Seleccione una opción</option>
                            <option value="0">No</option>
                            <option value="8">Sí</option>
                        </select>
                    </div>
                    <div id="pregunta3" class="ocultar_P3">
                        <li><label for="ante_familiar">¿Algún familiar cercano ha sido diagnosticado con cáncer de piel?</label></li>
                        <select name="ante_familiar" id="ante_familiar">
                            <option selected>Seleccione una opción</option>
                            <option value="0">No</option>
                            <option value="2">Sí</option>
                        </select>
                    </div>
                    <script src="{{ url_for('static', filename='ocultar_pregunta3.js') }}"></script>
                    <div id="pregunta4">
                        <li><label for="quemadura">¿Con qué frecuencia sufre quemaduras solares cuando se expone al sol durante períodos prolongados?</label></li>
                        <select name="quemadura" id="quemadura">
                            <option selected>Seleccione una opción</option>
                            <option value="3">Frecuentemente</option>
                            <option value="2">Ocasionalmente</option>
                            <option value="1">Rara vez</option>
                        </select>
                    </div>
                    <div id="pregunta5">
                        <li><label for="edad">¿A qué rango de edad pertenece?</label></li>
                        <select name="edad" id="edad">
                            <option selected>Seleccione una opción</option>
                            <option value="3">Menor a 18 años</option>
                            <option value="2">Entre 18 y 50 años</option>
                            <option value="3">Mayor a 50 años</option>
                        </select>
                    </div>
                    <div id="pregunta6">
                        <li><label for="bloqueador">En este momento, ¿tiene aplicado bloqueador solar en la piel?</label></li>
                        <select name="bloqueador" id="bloqueador">
                            <option selected>Seleccione una opción</option>
                            <option value="0">Sí</option>
                            <option value="3">No</option>
                        </select>
                    </div>
                    <button type="submit">Enviar</button>            
                </ul>
            </form>
            <div id="resultado">
                <p class="exclamacion">¡</p>
                <p id="t_resultado"><span id="rango_riesgo">-</span></p>
                <p class="exclamacion">!</p>
                <script src="{{ url_for('static', filename='Formulario_riesgo.js') }}"></script>
            </div>
        </div>
    </section>
    <footer>
        <div id="pie">
            <div class="autores">
                <p>Desarrollado por:</p>
                <ul>
                    <li>Daniel Urrea</li>
                    <li>Isaac Farah</li>
                    <li>Juliana Rodriguez</li>
                    <li>Miguel Ordoñez</li>
                    <li>Daniela Marín</li>
                    <li>David Mahecha</li>
                </ul>
            </div>
        </div>
    </footer>
    
    <script>
        function updateData() {
            fetch("/obtener_uv")
                .then(response => response.json())
                .then(data => {
                    document.getElementById("sensor").innerText = data.indice_uv;
                })
                .catch(error => {
                    console.error("Error al obtener datos:", error);
                });
        }
        setInterval(updateData, 5000);  // Actualizar cada 5 segundos
    </script>
</body>
</html>